{{ define "__text_alert_list" }}{{ range . }}
{{ range .Annotations.SortedPairs }} {{if eq .Name "description"}}
 Описание: {{ .Value }} {{continue}}{{ end }}{{continue}}{{ end -}}
 Метки:  {{ range .Labels.SortedPairs }}  
  __{{ .Name }}__: {{ .Value }}{{ if eq .Value "warning" }}📒 {{continue}} {{ else if eq .Value "critical" }}  📕  {{continue}} {{ else  if eq .Value "info" }} 📘  {{continue}} {{ else  if eq .Value "info" }} 📘  {{continue}}{{ end }}{{ end }}{{ end }}{{ end }}

{{ define "telegram.not_default.message" }}
{{ if gt (len .Alerts.Firing) 0 }}<b>Предупреждение:</b>{{ template "__text_alert_list" .Alerts.Firing }}{{ end }}
{{ if gt (len .Alerts.Resolved) 0 }}<b>Предупреждение разрешено:</b>{{ template "__text_alert_list" .Alerts.Resolved }}{{ end }}
{{ end }}
